---
import { Icon } from 'astro-icon'

const socials = [
  { label: 'Facebook', icon: 'ri:facebook-fill' },
  { label: 'Instagram', icon: 'ri:instagram-line' },
  { label: 'Twitter', icon: 'ri:twitter-fill' },
  { label: 'LinkedIn', icon: 'ri:linkedin-fill' },
]
---

<footer class="space-y-8">
  <div class="flex gap-4">
    <div class="space-y-4">
      <a href="/" class="text-2xl font-extrabold">LOGO</a>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p>@Logo</p>
    </div>

    <div class="space-y-4">
      <h5 class="whitespace-nowrap font-medium text-[17px]">About us</h5>
      <ul>
        <li><a href="#">Zeux</a></li>
        <li><a href="#">Portfio</a></li>
        <li><a href="#">Careers</a></li>
        <li class="whitespace-nowrap"><a href="#">Contact us</a></li>
      </ul>
    </div>

    <div class="space-y-4">
      <h5 class="text-lg font-medium whitespace-nowrap">Contact us</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p>+908 89097 890</p>
    </div>

    <div class="flex items-end">
      <ul class="flex gap-4">
        {
          socials.map(({ icon, label }) => (
            <li>
              <a
                class="flex items-center justify-center w-8 h-8 bg-white rounded-full"
                href="#"
                aria-label={label}
              >
                <Icon class="w-5 h-5 text-black" name={icon} />
              </a>
            </li>
          ))
        }
      </ul>
    </div>
  </div>

  <div class="flex justify-center py-10 text-xs border-t-2 border-white/50">
    <p>Copyright ® 2021 Lorem All rights Rcerved</p>
  </div>
</footer>
