---
import SocialsLinks from './SocialsLinks.astro'
---

<footer class="w-5/6 mx-auto space-y-8 mt-52">
  <div class="flex flex-col gap-4 divide-y md:divide-y-0 divide-white/25 md:flex-row">
    <div class="py-4 space-y-4 md:p-0">
      <a href="/" class="text-2xl font-extrabold">LOGO</a>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p>@Logo</p>
    </div>

    <div class="py-4 space-y-4 md:p-0">
      <h5 class="whitespace-nowrap font-medium text-[17px]">About us</h5>
      <ul>
        <li><a href="#">Zeux</a></li>
        <li><a href="#">Portfio</a></li>
        <li><a href="#">Careers</a></li>
        <li class="whitespace-nowrap"><a href="#">Contact us</a></li>
      </ul>
    </div>

    <div class="py-4 space-y-4 md:p-0">
      <h5 class="text-lg font-medium whitespace-nowrap">Contact us</h5>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p>+908 89097 890</p>
    </div>

    <div class="flex items-end">
      <SocialsLinks />
    </div>
  </div>

  <div class="flex justify-center py-10 text-xs border-t-2 border-white/50">
    <p>Copyright ® 2021 Lorem All rights Rcerved</p>
  </div>
</footer>
