---
---

<header class="flex justify-between px-4 py-8">
  <a href="/" class="px-6 py-2 rounded-md hover:bg-white/20">Logo</a>
  <nav>
    <ul class="flex gap-4">
      <li>
        <a class="px-6 py-2 rounded-md hover:bg-white/20" href="/"> Home</a>
      </li>
      <li>
        <a class="px-6 py-2 rounded-md hover:bg-white/20" href="/about"
          >About us
        </a>
      </li>
      <li>
        <a class="px-6 py-2 rounded-md hover:bg-white/20" href="/portfolio"
          >Portfolio
        </a>
      </li>
      <li>
        <a class="px-6 py-2 rounded-md hover:bg-white/20" href="/news">News</a>
      </li>
      <li>
        <a
          class="bg-[#FA9021] hover:bg-[#FA9021]/95 rounded-md px-6 py-2"
          href="/contact"
        >
          Contact us
        </a>
      </li>
    </ul>
  </nav>
</header>
