<section class="space-y-8">
  <h2 class="text-3xl font-semibold">Lorem ipsum</h2>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  </p>
  <div
    class="!mt-20 flex bg-[#1C140F] rounded-2xl p-10 items-center gap-8 mx-auto w-4/5"
  >
    <div class="space-y-4 ">
      <h3 class="text-3xl font-medium">Stay in the loop</h3>
      <p class="text-lg">
        Subscribe to receive the latest news and updates about TDA. <br /> We promise
        not to spam you!
      </p>
    </div>
    <form
      action=""
      class="flex items-center justify-center gap-2 p-2 bg-white rounded-lg"
    >
      <label class="">
        <input
          class="px-4 py-2 rounded-lg"
          type="text"
          placeholder="Enter email address"
        />
      </label>
      <button class="bg-[#DC7000] px-8 py-2 rounded-lg">Continue</button>
    </form>
  </div>
</section>
