---
import { Icon } from 'astro-icon'

export interface Props {
  imagePath: string
}

const { imagePath } = Astro.props
---

<li class="relative p-2 mx-auto text-center">
  <img
    loading="lazy"
    class="rounded-[20px]"
    src={`/images/card-${imagePath}.webp`}
    alt=""
  />
  <a
    href="#"
    class="after:absolute after:inset-0 after:hover:bg-white/10 after:rounded-[20px] flex items-center justify-center mt-4 text-2xl font-medium whitespace-nowrap"
  >
    <Icon name="mdi:fire" class="inline w-8 h-8" /> 40 Followers
  </a>
</li>
